@import 'tailwindcss';

@theme {
    --color-background: #000000;
    --color-text: #dddddd;
    --color-primary: #F3A310;
    --color-secondary: #F3A310;
    --color-yes: #7BD486;
    --color-no: #CC1E1E;
    --color-maybe: #E37337;
}
