@import 'tailwindcss';

@theme {
    --color-background: #000000;
    --color-text: #dddddd;
    --color-surface: #555555;
    --color-primary: #F3A310;
    --color-secondary: #DDB65B;
    --color-yes: #7BD486;
    --color-no: #CC1E1E;
    --color-maybe: #E37337;

    --font-title: 'Amatic SC', sans-serif;
    --font-body: 'Fuzzy Bubbles', sans-serif;
}

html {
    background-color: black;
}
